@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1{
  color: #1d1594;
  font-size: 50px;
}
.navbar .links{
  margin-left: 60%;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color: #f1356d;
}

/*CSS for login page*/
.login {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  background: rgb(154, 203, 124);
  border-radius: 10px;
}
.login label {
  text-align: left;
  display: block;
  margin: 10px 10px;
}
.login h2 {
  font-size: 25px;
  color: #0c0330;
  margin-bottom: 30px;
}
.login input{
  width: 93%;
  padding: 6px 10px;
  margin: 10px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.login button {
  background: #0c0330;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


.signupbutton{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: black;
}

.signupbutton a{
  color: #e90f0f;
  text-decoration: none;
}

.signupbutton a:hover{
  text-decoration: underline;
}

/* CSS for Start page*/
.start{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #0c0330;
  height: 170px;
  width: 200px;
  text-align: center;
  padding: 10px;
}
.start h2{
  font-size: 25px;
  color: white;
}
.choices button{
  width: 90%;
  height: 50px;
}
#police{
  background-color: lightblue;
}
#medic{
  background-color: lightgreen;
}
#police:hover,#medic:hover{
  background-color: wheat;
}

/*CSS for Sigup page */
/* CSS for map*/
.leaflet-container {
  width: 97%;
  height: 350px;

  margin-left: 10px;
  margin-right: 5px;
}
#map{
  height: 180px;
}

/* .searchButton{
  margin-right: 200px;
} */

/*CSS Signup page*/
.signup {
  /* max-width: 500px; */
  margin: 0 auto;
  text-align: center;
  width: 50%;
  background: rgb(126, 173, 227);
  border-radius: 10px;
  margin-top: 3%;
  padding-top: 20px;
}

.signup label {
  text-align: left;
  display: block;
  margin: 10px 10px;
}
.signup h2 {
  font-size: 25px;
  color: #0c0330;
  margin-bottom: 30px;
}
.signup input{
  width: 100%;
  padding: 10px 10px;
  margin: 0px 0px;
  border: 5px solid rgb(238, 232, 232);
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
}

.txt input{
  width: 95%;
  padding: 6px 10px;
  margin: 10px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block; 
}

.signinButton button{
  padding: 5px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
}

