@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* *{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
} */

body{
  background-image: url(../data/images/emergency2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: '100vw';
  height: '100vh';
}

.navbar{
  padding: 0.3%;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  margin-right: 0;
  background-color: #282362;
}
.navbar h1{
  color: white;
  font-size: 50px;
}
.navbar .links{
  margin-left: 60%;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
}
.navbar a:hover{
  color: #f1356d;
}

.userProfile{
  background-color: #535254;
}
.profile{
  position: absolute;
  top: 13%;
  background-color: rgba(102, 103, 105, 0.4);
  opacity: 10;
  border-radius: 5px;
  right: 2%;
  padding: 10px;
  line-height: 2.0;
}

.content{
  height: 100%;
  width: 100%;
  margin-top: 0;
}

/*CSS for login page*/
.loginTop{
  /* background-image: url(../data/images/emergency2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  width: '100vw';
  height: '100vh';
  padding-top: 5%;
  padding-bottom: 8%;
}
.login {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 4%;
  text-align: center;
  width: 350px;
  background: rgb(148, 162, 190,0.8);
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.login label {
  text-align: left;
  display: block;
  margin: 10px 10px;
}
.login h2 {
  font-size: 25px;
  color: #0c0330;
  margin-bottom: 30px;
}
.login input{
  width: 93%;
  padding: 6px 10px;
  margin: 10px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.login button {
  background: #0c0330;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


.signupbutton{
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  color: black;
}

.signupbutton a{
  color: #e9e4e4;
  text-decoration: none;
}

.signupbutton a:hover{
  text-decoration: underline;
}

/* CSS for Start page*/
.start{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #0c0330;
  height: 170px;
  width: 200px;
  text-align: center;
  padding: 10px;
}                                                          
.start h2{
  font-size: 25px;
  color: white;
}
.choices button{
  width: 90%;
  height: 50px;
  padding-bottom: 10%;
}
#police{
  background-color: lightblue;
}
#medic{
  background-color: lightgreen;
}
#police:hover,#medic:hover{
  background-color: wheat;
}

/*CSS for Sigup page */
/* CSS for map*/
.leaflet-container {
  width: 97%;
  height: 350px;

  margin-left: 10px;
  margin-right: 5px;
}
#map{
  height: 180px;
}

/* .searchButton{
  margin-right: 200px;
} */

/*CSS Signup page*/
.signupTop{
  /* background-image: url(../data/images/background6.jpeg); */
  /* background-color: #535254; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: '100vw';
  height: '100vh';
  padding-top: 1%;
  padding-bottom: 3%;
}

.signup {
  /* max-width: 500px; */
  margin: 0 auto;
  text-align: center;
  width: 50%;
  background: rgb(126, 173, 227,0.5);
  border-radius: 10px;
  margin-top: 3%;
  padding-top: 10px;
  padding-left: 5px;
  /* padding-bottom: 2%; */
}

.signup label{
  color: #0c0330;
}

.signup label {
  text-align: left;
  display: block;
  margin: 10px 10px;
}
.signup h2 {
  font-size: 25px;
  color: #0c0330;
  margin-bottom: 30px;
}
.signup input{
  width: 100%;
  padding: 10px 10px;
  margin: 0px 0px;
  border: 5px solid rgb(238, 232, 232);
  color: rgb(10, 1, 1);
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  background-color: white;
}

.txt input{
  width: 95%;
  padding: 6px 10px;
  margin: 10px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block; 
}

.signinButton button{
  padding: 5px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  margin-bottom: 10px;
}

.signupB button{
  background: #0c0330;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*CSS for Dropdown menu*/
.dropDownButton{
  background-color: rgb(5, 31, 61);
  color: white;
  border-radius: 5px;
  width: 50%;
}

.dropdown-menu{
  list-style: none;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
  width: 50%;
  padding-left: 0;
  border-radius: 5px;
}

/*Google maps CSS*/
.main-wrapper {
  height: 60vh;
  margin: 10px 50px;
  filter: drop-shadow(-1px 5px 3px #ccc);
}
.info-wrapper {
  margin-top: 15px;
}
.map-details {
  text-align: center;
  font-size: 1.2em;
}
.map-details span {
  font-weight: bold;
}
.search-input {
  font-size: 1.2em;
  width: 80%;
}